body {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar-track {
    background-color:white;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:#f85565;
  }

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.grid-container-inv {
    display: grid;
    grid-template-columns: 1.25fr 1.5fr;
}

.background-custom {
    background-color: transparent;
}

.full_page {
    background-color:#f85565 ;
    height: auto;
}

.main_text {
    text-align: center;
    padding: 10px 0 30px 0;
}

.main_text h1 {
    font-size: 45px;
    margin-bottom: 40px;
}

.main_text p {
    margin: 0 250px 40px 250px;
}

.img-fluid {
    margin-top: 6px;
}

.h1, h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}

.our_investigation p {
    margin-right: 20px;
}

.red {
    background-color: #f94b5b;
    height: auto;
    color:white;
    padding-bottom: 30px;
}

h2 {
    margin: 5px 0px 20px 20px ;
}

.carousel div img {
    height: 250px;
}

.carousel {
    width: 580px;
    margin: auto;
}


.red h5 {
    margin-left: 15px;
}

.red h2 {
    padding-top: 20px;
}

.grid_why {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid_text {
    display: grid;
    grid-template-rows: 0.25fr 0.25fr;
    text-align: center;
    margin: 35px 0 0 0;
    padding: 0 20px;
}

.grid_text h5 {
    font-size: 23px;
    margin-bottom: 20px;
}

.grid_text p {
    font-size: 17px;
    padding: 0px 10px;
}

#pilares h2{
    margin-top: 20px;
}

.in3 {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    gap: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.in3 i {
    text-align: center;
    padding: 30px 0px;
    margin: 0 auto;
    font-size: 25px;
}

.looks_like_wav {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

.looks_like_wav h5 {
    font-size: 17px;
}

.looks_like_wav p {
    font-size: 14px;
}

.scrollbox {
    height: 380px;
    overflow: scroll;
    overflow-x: hidden;
}

.descargar {
    background-color: #f85565;
    padding: 10px 0px;
    color: white;
}

.descargar article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

article a {
    text-align: center;
    color: white;
}

.click {
    background-color: white;
    color: #f85565;
}

.click:hover{
    color: black;
    transition: 0.5s;
}

article a .click2 {
    text-decoration: none;
    text-align: center;
}

.click2 {
    background-color: #3d5b63;
    padding: 10px;
    margin: 0px 60px;
    border-radius: 5px;
}

.click2{
    color: white;
}

.click2:hover{
    color: #f85565;
    text-decoration: none;
    background-color: #4a6269;
    transition: 1s;
}

@media (min-width: 1600px) {
    .full_page {
        height: 950px;
    }
    .investigation_text{
        font-size: xx-large !important;
    }
    .main_text {
        padding: 150px 0 0px 0;
    }
    .main_text h1 {
        font-size: 45px;
        margin-bottom: 40px;
    }
    p {
        font-size: 23px;
    }
    .main_text p {
        margin: 0 450px 40px 450px;
    }
    .grid_why {
        margin-top: 40px;
        padding: 0px 50px;
    }
    .grid_text {
        grid-template-rows: 0.5fr 0.25fr;
        margin: 50px 0 0 0;
    }
    .grid_text h5 {
        font-size: 27px;
    }
    .grid_text p {
        padding: 0px 30px;
        font-size: 20px;
        padding: 0px 10px;
    }
    .scrollbox {
        margin-top: 40px;
        height: auto;
        overflow: hidden;
    }
    .looks_like_wav h5 {
        font-size: 20px;
    }
    
    .looks_like_wav p {
        font-size: 16px;
    }
}

@media (max-width: 1100px) {
    .main_text h1 {
        font-size: 35px;
    }
    .main_text p {
        font-size: 20px;
        margin: 0 150px 40px 150px;
    }
    .our_investigation h1 {
        font-size: 30px;
    }
    .our_investigation p {
        margin-right: 20px;
        font-size: 18px;
    }
    .investigation_text{
        font-size: large !important;
    }
    .red h2 {
        font-size: 30px;
    }
    .red h5 {
        font-size: 18px;
    }
    .grid_text {
        margin: 30px 0 0 0;
        padding: 0 14px;
    }
    .grid_text p {
        font-size: 18px;
    }
}

@media (max-width: 990px) {
    .main_text {
        padding: 30px 0 20px 0;
    }
    .main_text h1 {
        font-size: 30px;
    }
    .main_text p {
        font-size: 18px;
        margin: 0 100px 20px 150px;
    }
    .investigation_text{
        font-size: small !important;
    }
    .full_page {
        background-color:#f85565 ;
        height: auto;
        font-family: 'Poppins', sans-serif;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
    }
    .our_investigation h1 {
        font-size: 28px;
    }
    .our_investigation p {
        margin-right: 20px;
        font-size: 16px;
    }
    .grid_why {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid_text h5 {
        margin-top: 15px;
    }
    .grid_text p {
        font-size: 16px;
    }
    .grid-container-inv {
        display: initial;
    }
    .grid-container-inv img {
        padding: 10px;
    }
    .scrollbox {
        height: auto;
        overflow-y: hidden;
    }
}

@media (max-width: 520px) {
    .main_text {
        padding: 0px 0 35px 0px;
    }
    .main_text p {
        font-size: 18px;
        margin: 0 30px 20px 30px;
    }
    .full_page {
        background-color:#f85565 ;
        height: auto;
        font-family: 'Poppins', sans-serif;
    }
    .grid-container {
        display: initial;
    }
    .grid-container img {
        padding: 10px;
    }
    .our_investigation {
        margin: 0px 20px;
    }
    .grid_why {
        display: initial;
    }
    .click2 {
        padding: 5px;
    }
    .scrollbox {
        overflow-y: hidden;
    }
}